body {
    background-size: cover; 
    background-repeat: no-repeat;
    margin:0;
    font-family: sans-serif;
    
}
main {
    /* background-image: url('https://i.namu.wiki/i/6TqpEU_Pplwn7kjjVifjOw3DzQ4FnQoRv-E9W1wjOaSImclPYHDkngm8m6l8MbyBqVIlWlfYvsnHHT-Fo0lsRA.webp');
    background-size: cover; 
    background-repeat: no-repeat;
    background: lightgray; */
    height: 511px;
}
a{    
    text-decoration-line:none;
}
.footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #FF7200;
    color: white;
    line-height: 8px;
    height: 50px;
}

.logo_text {
    font-size: 20px;
    font-weight: bold;
}

.footer_text {
    font-size: 14px;
    margin-top: 10px;
}

.footer_copy {
    font-size: 12px;
    margin-top: 10px;
}

/* 헤더 */
header {
    margin: auto;
    width: flex;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 2px solid #FF7200;
}
.img_logo {
    width: 100px;
    height: 60px;
    position: relative;
    left: 10px;
    top: 5px;
}

/* '가게 추가하기' 버튼 스타일 */
.btn {
    position: absolute;
    right: 10px;
    background-color: #FF7200;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    margin: 20px;
}

/*search*/
.maintitle{
    position:absolute;
    left: 50%;
    top: 18%;
    transform: translate(-50%,-20%);

}
h2{
    color:#FF7200
}
fieldset{
    border:none;
}
.searchbar{
    position:absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-65%);
    width:500px;
}
.searchbar_detail{
    position:absolute;
    left: 10%;
    top: 10%;
}
.search_box input {
    width:300px; /*search-box내부에서 14만큼의 크기를 차지(비율) */
    height: 46px;
    padding-left: 12px;
    padding-right: 15px;
    border-color: 2px #FF7200;
    box-shadow: 0 0 7px #FF7200;
    outline:none;
    font-size: 18px;
    border-radius: 8px;
    border:none;
    
  }
  .search_box button {
    flex: 2; /* search-box내부에서 1만큼의 크기를 차지(비율) */
    height: 46px;
    width: 70px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #FF7200;
    color: #ffffff;
    border-radius: 8px;
  }
/*content 목록*/
.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 260px;
}
.content_detail{
    margin-left: 90px;
    margin-right: 90px;
}
li{
    display: inline-block;
    padding-bottom: 20px;
}
.content_item{
    float: left;
    padding-right: 17px;
    padding-left: 17px;
    width: 25%;
    position: relative;
}
.content_btn{
    width: 200px;
    height: 120px;
    margin: 20px;
    font-size: 17px;

}
.content_item_img{
    margin:0;
}
.content_img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
figure {
    margin:0;
}
.content_info{
    padding-top: 9px;
    padding-bottom: 0;
    color: #555;
}
.content_address{
    margin-top:9px;
    margin-bottom:0;
    padding:0;
    font-size: 12px;
}