<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Detail</title>
    <link rel="stylesheet" href="/static/style_detail.css">
</head>
<body>
    <header class="main_header">
        <div>
            <a href="/">
                <img src="/static/Logo.png" class="img_logo" alt="양.많.다 로고">
            </a>
        </div>
        <div class="searchbar_detail">
            <form>
                <fieldset>
                    <legend class="visually-hidden">검색</legend>
                    <div class="search_box">
                        <input type="text" placeholder="상세페이지" maxlength="225" tabindex="1" />
                        <button type="submit" tabindex="2">검색</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </header>
    <main>
        <div class="detail_item">
            <div class="detail_left">
                <span>{{ rest_info_data.REST_Name }}</span>
            </div>
            <div class="detail_right">
                <table class="info">
                    <tbody>
                        <tr>
                            <th>주소</th>
                            <td>{{ rest_info_data.REST_Address }}</td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>{{ rest_info_data.Tel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="menu">
            <h3>메뉴</h3>
            <ul>
                {% for menu_item in rest_menu_data %}
                <li>{{ menu_item.MENU_Name }} - {{ menu_item.MENU_Price }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- 댓글 섹션 -->
        <div class="comments">
            <h3>댓글</h3>
            <!-- 댓글 목록 -->
            <ul>
                {% for review in rest_review_data %}
                <li>
                    <span>{{ review.R_Score }}</span> - {{ review.R_Text }}
                    <p>날짜: {{ review.R_Date }}</p>
                </li>
                {% endfor %}
            </ul>

            <!-- 댓글 작성 폼 -->
            <form action="{{ url_for('add_review', rest_name=rest_info_data.REST_Name) }}" method="POST">
                <input type="text" name="R_Score" placeholder="평점" required>
                <textarea name="R_Text" placeholder="댓글 내용" required></textarea>
                <button type="submit">댓글 작성</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <span class="logo_text">양.많.다</span>
        <P class="footer_text">Find your Best Restaurant</P>
        <div class="footer_copy">Copyright 2023 양.많.다., Inc. Terms & Privacy</div>
    </footer>
</body>
</html>
